.widget-area .widget.widget_smartest_staff_list a {
    line-height: 140%;
}
#staff-meta h5 {
    margin-bottom: 1em;
}
#qbw-staff-socials ul {
	list-style-type:none;
}
#qbw-staff-socials li {
	display:inline-block;
	margin:0 8px 0 0;padding:0;
}
#qbw-staff-socials li a {
	display:block;
	width:18px;
	height:18px;
	background:url("../images/social_18.png") no-repeat;
}
#qbw-staff-socials li a.item-1 {
	background-position: 0 0;
}
#qbw-staff-socials li a.item-2 {
	background-position: -19px 0;
}
#qbw-staff-socials li a.item-3 {
	background-position: -38px 0;
}
#qbw-staff-socials li a.youtube {
	width:60px;
	height:25px;
	background:url("../images/youtube.png") no-repeat;
	top: 4px;
	position: relative;
}
#qbw-staff-socials li a.item-add {
	background-image:none;width:auto;
}
/* columns */
.qbw-one-half, .qbw-one-third, .qbw-one-fourth {margin:1.5em 0;padding-left:2%;padding-right:2%;float:left;}
.qbw-one-half {	width:46%;}
	/* first column */
	.qbw-one-half:nth-child(2n+1) {
	    padding-left: 0;padding-right:3%;clear:left;
	}
	 
	/* 2nd column */
	.qbw-one-half:nth-child(2n+2) {
	    padding-right:0;padding-left: 3%;
	}

.qbw-one-third {width:29.3%;}
		/* first column */
	
		.qbw-one-third:nth-child(3n+1) {
		    padding-left:0;clear:left;
		}
		
		/* 3rd column */
		.qbw-one-third:nth-child(3n+3) {
		    padding-right: 0
		}



.qbw-one-fourth {width:21%;}

	/* first column */

	.qbw-one-fourth:nth-child(4n+1) {
		padding-left: 0;clear:left;
	}
	/* 4th column */
	
	.qbw-one-fourth:nth-child(4n+4) {
		padding-right: 0;
	}

/* reset Reviews table */
#smar_table_2 tbody tr:nth-child(even), #smar_table_2 tbody tr:nth-child(2n) {
	background-color:inherit;
}
@media only screen and (max-device-width: 767px) {
	/* Add a .overflow wrap around tables to make tables responsive for mobile */
	.overflow { overflow: auto; }
}
@media screen and (max-device-width: 568px){
	.qbw-one-half, .qbw-one-third, .qbw-one-fourth {
		margin:1.5em auto;padding-left:2%;padding-right:2%;float:none;width:96%;display:block;
	}
}