/* Styles for QBW Announcements widget 
-------------------------------------------------------------- */
.widget_smartest_announcements p {margin-left: 10%;} .widget_smartest_announcements time {font-style:italic;font-size: 75%;color:#333333;padding-left:8px;}