/* Styles for QBW Staff widget 
-------------------------------------------------------------- */
.widget_smartest_staff_list, .sstwrap {width: 100%;}.sstwrap {overflow: hidden;position: relative;margin: 24px 0;display: block;}.ssfig {float: left;margin: 0px 20px 0px 0px;}.sstcontent {padding-top: 20px;display: inline;}.sstcontent h5{clear:none;display:inline}.qbw-staff-thumb {max-width: 42px;height: auto}
