.widget-area .widget.widget_smartest_staff_list a {
	line-height: 140%;
}
#qbw-staff-meta h5 {
	margin-bottom: 1em;
}
#qbw-staff-socials ul {
	list-style-type: none;
}
#qbw-staff-socials li {
	display: inline-block;
	margin: 0 8px 0 0;
	padding: 0;
}
#qbw-staff-socials li a {
	display: block;
	width: 18px;
	height: 18px;
	text-decoration:none;
	box-shadow: unset;
	background: url(../images/social_18.png) no-repeat;
}
#qbw-staff-socials li a.item-1 {
	background-position: 0 0;
}
#qbw-staff-socials li a.item-2 {
	background-position: -19px 0;
}
#qbw-staff-socials li a.item-3 {
	background-position: -38px 0;
}
#qbw-staff-socials li a.item-4 {
	background: url(../images/linkedin_18.png) no-repeat;
}
#qbw-staff-socials li a.youtube {
	width: 60px;
	height: 25px;
	background: url(../images/youtube.png) no-repeat;
	top: 4px;
	position: relative;
}
#qbw-staff-socials li a.item-add {
	background-image: none;
	width: auto;
}
#qbw-staff-socials li a.fa-twitter,
#qbw-staff-socials li a.fa-google,#qbw-staff-socials li a.fa-facebook, #qbw-staff-socials li a.fa-linkedin,
#qbw-staff-socials li a.fa-youtube{
	background-image: none;
	width: 26px;
	height: 26px;
	box-shadow: unset;
}
#qbw-staff-socials li a.fa-twitter:before,
#qbw-staff-socials li a.fa-google:before, #qbw-staff-socials li a.fa-facebook:before,
#qbw-staff-socials li a.fa-linkedin:before, #qbw-staff-socials li a.fa-youtube:before{
	content: "\f081";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:26px;
}
#qbw-staff-socials li a.fa-twitter {
	color:#00aced;
}
#qbw-staff-socials li a.fa-google:before {
	content: "\f0d4";
	color:#dd4b39;
}
#qbw-staff-socials li a.fa-facebook:before {
	content: "\f082";
	color: #3B5998;
}
#qbw-staff-socials li a.fa-linkedin:before {
	content: "\f08c";
	color: #0077b5;
}
#qbw-staff-socials li a.fa-youtube:before {
	content: "\f166";
}
/* Staff and Services archives */
.qbw-staff-item-image {
	max-height: 200px;
	width:auto;
}
.qbw-service-item,
.qbw-staff-item {
	display: inline-block;
	text-align: center;
	margin: 0 7px 20px 7px;
}
.qbw-service-item:first-of-type,
.qbw-staff-item:first-of-type {
	margin-left:0;
}
.qbw-service-item:last-of-type,
.qbw-staff-item:last-of-type {
	margin-right:0;
}

/*Hide regular post meta on staff and services pages on Twenty Twelve theme*/
body.single-smartest_staff article.smartest_staff footer.entry-meta, body.single-smartest_services article footer.entry-meta {
	display: none;
}

#qbw-col-wrap{
display:block;width:100%;padding:0;margin:0;
}
.qbw-one-half, .qbw-one-third, .qbw-one-fourth {
	margin: 1.5em 0;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
}
.qbw-one-half {
	width: 46%;
}
.qbw-one-half:nth-child(2n+1){padding-left:0;padding-right:3%;clear:left;}
.qbw-one-half:nth-child(2n+2){padding-right:0;padding-left:3%;}
.qbw-one-third {width: 29.3%;}
.qbw-one-third:nth-child(3n+1){padding-left:0;clear:left}
.qbw-one-third:nth-child(3n+3){padding-right:0}
.qbw-one-fourth {
	width: 21%;
}
.qbw-one-fourth:nth-child(4n+1){padding-left:0;clear:left}
.qbw-one-fourth:nth-child(4n+4){padding-right:0}

#qbw-contact-info #qbw-staff-socials {
	padding-left: 0;
}
#sbfc-contactform-wrap{margin-bottom:2em;}
#smar_table_2 tbody tr:nth-child(even),
#smar_table_2 tbody tr:nth-child(2n){
	background-color:inherit;
}
#qbw_success,
#qbw_error {
    border: 1px solid;
    margin: 10px 0;
    padding: 16px 10px 16px 72px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -moz-border-radius: 2px;
    border-radius: 2px
}
#qbw_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../images/success.png')
}
#qbw_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(../images/error.png)
}
@media only screen and (max-device-width:767px){
	.overflow {
		overflow: auto;
	}
}
@media screen and (max-device-width:568px) {
	.qbw-one-half, .qbw-one-third, .qbw-one-fourth {
		margin: 1.5em auto;
		padding-left: 2%;
		padding-right: 2%;
		float: none;
		width: 96%;
		display: block;
	}
	.qbw-service-item,
	.qbw-service-item:first-of-type,
	.qbw-service-item:last-of-type,
	.qbw-staff-item,
	.qbw-staff-item:first-of-type,
	.qbw-staff-item:last-of-type {
		display: block;
  		margin: 0 auto;
	}
  .qbw-staff-item-image {
		max-width:100%;
		max-height:auto;
		height:auto;
  }	

}