#sfawrap{
	width:100%;
	overflow:hidden;
	position:relative;
	margin-bottom:3em
}
#sfawrap figure{
	float:left;
	margin:0 20px 0 0
}
/* Thin out for TwentyFourteen thin sidebars */
#primary-sidebar #sfawrap figure, #footer-sidebar #sfawrap figure {
    float: none;
    margin: 0;
}
#sfafig .icon{
	border:0 none
}
#sfacontent{
	overflow:hidden;
	padding-right:15px
}
#sfacontent h4{
	padding-right:0;
	margin-top:0;
	padding-top:0;
	margin-right:0
}
#sfacontent p{
	margin-bottom:15px;
	margin-left:0
}