#sfawrap {
	width:100%;overflow: hidden; position: relative;margin-bottom: 3em;
}
#sfawrap figure {
    float: left;
    margin: 0px 20px 0px 0px;
}
#sfafig .icon {
	border: 0px none;
}
#sfacontent {
    overflow: hidden;
    padding-right: 15px;
}
#sfacontent h4 {
    padding-right: 0;margin-top:0;padding-top:0;margin-right:0;
}
#sfacontent p {
	margin-bottom:15px;margin-left:0;
}