vti_encoding:SR|utf8-nl
vti_author:SR|Isabel-Laptop\\Isabel
vti_modifiedby:SR|Isabel-Laptop\\Isabel
vti_timelastmodified:TR|25 May 2013 00:25:21 -0000
vti_timecreated:TR|20 May 2013 15:51:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncwith_astrolibrary.org\:21/chemacastillo:TW|25 May 2013 00:25:21 -0000
vti_syncofs_astrolibrary.org\:21/chemacastillo:TW|25 May 2013 00:26:01 -0000
vti_nexttolasttimemodified:TW|25 May 2013 00:16:32 -0000
vti_cacheddtm:TX|25 May 2013 00:25:21 -0000
vti_filesize:IR|840
